body {
	background-image: url(http://3.bp.blogspot.com/_4EHUpLYAZgg/TIhZFuGCGQI/AAAAAAAAAnc/1T_VcpXOPBQ/s1600/LANCHES+CELSO+001.JPG);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: right top;
}

h1, h2 {
	text-align: center;
}

h2 {
	font-style: italic;
}

#additionButton {
	background-color: green;
    border: none;
    border-radius: 20%;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 14px;
}